/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Basic CSS for hidden state */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* CSS when element is visible */
.visible {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

body,html {
    scroll-behavior: smooth;
}
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #0C0F0A;
    color: #41EAD4;
    width: 100vw;
    overflow-x: hidden;
  }
  
  /* Header styles */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    padding: 1rem;
    background-color: #41EAD4;
    color: #0C0F0A;
  }
  
  header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #0C0F0A;
  }
  
  header h1 a{
    text-decoration: none;
    color: #0C0F0A;
  }
  

  .nav-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .nav-menu li {
    margin: 0 1rem;
  }
  
  .nav-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #0C0F0A;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #fff;
  }

  .navbar{
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .hamburger{
    display: none;
    cursor: pointer;
  }
  .barline {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
 
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    padding: 2rem;
    margin: 0 auto;
    width: 50%;
    gap: 5vh;
 }
 
  /* Footer styles */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #41EAD4;
    color: #0C0F0A;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  footer p {
    font-size: 1rem;
  }

  
  /* Hero section styles */
  #hero {
    background-color: #FBFF12;
    color: #0C0F0A;
    width: 100%;
  }
  
  #hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  #hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  
  .button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #0C0F0A;
    color: #FBFF12;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  .button:hover {
    background-color: #554f3f;
    color: #fff;
  }
  
/* Skills section styles */
 .about{
    border: thin solid #333232;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(212, 197, 197, 0.2);
 }
#about-me h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  #about-me h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  #about-me p {
  margin-bottom: 1rem;
  }
  
  #about-me ul {
  margin-bottom: 1rem;
  }
  
  .flexList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  #about-me ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  }


.skills {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
    width: 100%;
  }
  .skill{
    flex-basis: 10vh;
    border: thin solid #333232;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease;
    color: #fff;
  }
  .skill:hover{
    background-color: #333232;
    scale: 1.1;
    cursor: pointer;
  }
 
  .experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
    justify-content: space-around;
    border: thin solid #333232;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(212, 197, 197, 0.2);
    transition: all 0.2s ease;
  }
  .experience:hover{
    background-color: #333232;
    scale: 1.1;
    cursor: pointer;
}
  .experience img{
    width: 25%;
    height: 25%;
  }

  .certificate {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap:1vw;
    justify-content: center;
    font-size: 1rem;
  }

  .certificate img{
    width: 10%;
    height: 10%;
  }

  
  /* Project page styles */
  
  .project-card {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .project-card-header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-basis: 40%;
  }
  
  .project-card-body {
    flex-basis: 60%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .project-card-header img, .project-card-header iframe {
    flex:1;
    max-width: 100%;
    max-height: 100%;
    object-fit:scale-down;
    object-position: center;
  }
  .project-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .project-description {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .project-tech {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project-tech span {
    background-color: #d3d3d3;
    color: #000;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  
  .project-tech span:last-of-type {
    margin-right: 0;
  }
  
  
  /* Contact page styles */
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button[type="submit"] {
    background-color: #0072c6;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005ea2;
  }
  
  .contact-info {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-info li {
   
    margin-bottom: 1rem;
  }
  
  .contact-info li a {
  color: #0072c6;
  }
  
  .contact-info li a:hover {
  text-decoration: underline;
  }
  
  .ThankYouText h2{
  font-size: 100px;
  margin-top: 5rem;
  margin: 5rem 5rem;
  text-align: center;
  }
  .ThankYouText a{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease;
  /*text-align: center;*/
  margin-left: 35rem;
  }
  
  .ThankYouText a:hover{
  background-color: #fff;
  color: #0077cc;
  }
  
  .ThankYouText .container{
  width: auto;
  text-align: center;
  }

  /* Media queries */
  @media (max-width: 600px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .barline:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .barline:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .barline:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100vw;
        top: 70px;
        gap: 0.5rem;
        flex-direction: column;
        background-color: #41EAD4;
        width: 100vw;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    header h1 a{
        color: #fff;
    }
    footer {
        color: #fff;
    }
    .nav-menu li {
        margin: 0.5rem 0;
    }
    .nav-link {
        color: #fff;
        font-size: 1rem;
    }

    #about-me {
    padding: 1rem;
    }
    
    #about-me h2 {
    font-size: 1.5rem;
    }
    
    #about-me ul li {
    font-size: 1rem;
    }
    section {
        width: 100vw;
    }
    .project-card{
        display: flex;
        flex-direction: column;
    }
  }