<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/res/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/favicon-16x16.png">
    <link rel="manifest" href="/res/site.webmanifest">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1><a id = "hero-nav" href="#hero" class="">HengLong Sun</a></h1>
            <ul class="nav-menu">
                <li class ="nav-item"><a id="about-me-nav" class = "nav-link" href="#about-me">Profile</a></li>
                <li class ="nav-item"><a id="skills-nav" class = "nav-link" href="#skills">Skills</a></li>
                <li class ="nav-item"><a id="experiences-nav" class = "nav-link" href="#experiences">Experiences</a></li>
                <li class ="nav-item"><a id = "achievements-nav" class = "nav-link" href="#achievements">Education</a></li>
                <li class ="nav-item"><a id = "project-section-nav" class = "nav-link" href="#project-section">Projects</a></li>
                <li class ="nav-item"><a id = "contactInfo-nav" class = "nav-link" href="#contactInfo">Contact</a></li>
            </ul>
            <div class="hamburger">
                <div class="barline"></div>
                <div class="barline"></div>
                <div class="barline"></div>
            </div>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <script src="{{ '/scripts/index.js' | absolute_url }}"></script>
    <footer>
        © {{ site.time | date: '%Y' }} HengLong Sun. All Rights Reserved.
    </footer>
</body>
</html>
